@{
  Layout = "_Layout";
}

@model ToDoList.Models.Tag

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @:&nbsp;
    @Html.TextBoxFor(model => model.Title)


    <input type="submit" value="Add new tag"/>
}
<!-- <p>@Html.ActionLink("Show all tags", "Index")</p> -->