@{
  Layout = "_Layout";
}

@using ToDoList.Models;

@if (@Model.Count == 0)
{
  <h3>No tags have been added yet!</h3>
} 
<div id="list">
@foreach (Tag tag in Model)
{
  <div class="card">
    <div class="card-body">
      @Html.ActionLink($"{tag.Title}", "Details", new { id = tag.TagId })
    </div>
  </div>
}
</div>