@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @:&nbsp;
  @Html.TextBoxFor(model => model.Name)
  @:&nbsp;
  <input type="submit" value="Add new category" />
}
<!-- <p>@Html.ActionLink("Show all categories", "Index")</p> -->